/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

/* HEADER */
header {
    align-items: center;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

.logo {
    line-height: 85px;
    width: 25%;
}

.navigatore {
    width: 50%;
    line-height: 60px;
}

.navigatore li{
    list-style-type: none;
}

.navigatore ul.flex{
    justify-content: center;
    gap: 20px;
    color: white;
}

.login {
    width: 25%;
    line-height: 60px;
    text-align: right;
    border-bottom: 50%;
}

h1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.testo-header {
    width: 60%;
    margin: 0 auto;
    height: 250px;
    text-align: center;
    padding-top: 40px;
    font-size: 0.9rem;
    line-height: 2rem;
    color: white;
}

/* MAIN */

/* CORPO */
.row-1 .container {
    align-items: center;
    height: 600px;
}

.row-2 .container {
    align-items: center;
    height:600px;
}

.row-3 .container {
    align-items: center;
    height: 600px;
}

.last-row .container {
    align-items: center;
    height: 1000px;
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 1.6rem;
}

.blocco-cielo {
    width: 80%;
    height: 400px;
}

.blocco-rosa {
    width: 80%;
    height: 340px;
}

.blocco-mago {
    width: 80%;
    height: 400px;
    order: 1;
    margin-top: 60px;
}

.blocco-orco {
    width: 80%;
    height: 400px;
}

.titolo-mago {
    margin-top: 1.6rem;
}

.blocco-verde {
    width: 100%;
    height: 750px;
    align-items: center;
    text-align: center;
}

.titolo-orco {
    margin-top: -1.6rem;
}

.testo-orco {
    margin-top: 2rem;
}

.coniglio-titolo {
    text-align: center;
}

.coniglio-testo {
    text-align: center;
    margin: 20px;
}

.row-stelline {
    align-items: center;
    height: 200px;
}

.testo-stelline {
    text-align: center;
    width: 100%;
}

.stelline {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: cover;

}


/* FOOTER */
footer {
    background-color: rgb(8, 23, 27);
}

.footer-row {
    padding: 10px 0 15px;
    height: 400px;
}

.footer-row-bottoni {
    padding: 10px 0 0 0;
}

.blocco-grande-footer {
    height: 100%;
    width: calc((100% / 6) * 2);
    color: rgb(73, 155, 221);
}

.blocco-piccolo-footer {
    height: 350px;
    width: calc(100% / 6);
    background-color: rgb(99, 159, 173);
    border: 2px black dashed;
}

hr {
    color: white;
}

.footer-row-bottoni .container {
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.bottoni {
    background-color: rgb(255, 140, 230);
    border: 1px black dashed;
}

.box {
    background-color: aquamarine;
}

.italia {
    width: 20px;
    height: 15px;
    margin-top: 15px;
}

.lingua {
    margin-top: 15px;
    padding-left: 10px;
}